.header {
  background: rgb(235,229,229);
  height: 89px;
}

.header .logo {  
  width: 70px; 
  margin: 0px;  
  margin-right: 20px;
}

.header .brand{
  font-size: 25px;
  font-weight: bold;
}

.header .barra-nav{
  width: 335px;
}

.header .barra-nav .enlace {
  color: rgb(254,254,254);
  font-size: 20px;
}

.header .barra-nav .enlace.principal{
  text-decoration: underline;
  font-weight: bold;
}



.window-title {
  text-align: center;
  padding-top: 72px;
  color: #ebe5e5;
  font-weight: bold;
  font-size: 65px;
  margin: auto;
}

.bckg-gray {
  background: #3c3c3c;
}

.prgh-center {
  text-align: center;
  font-size: 18px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.index-btn {
  background: #7f9751;
  height: 65px;
  width: 260px;
  font-size: 22px;
  margin-right: 4.5%;
  margin-left: 4.5%;
  border-color: rgba(255,255,255,0);
  color: #ebe5e5;
}

