.header {
  background: rgb(235,229,229);
  height: 89px;
}

.header .logo {
  width: 70px;
  margin: 0px;
  margin-right: 20px;
}

.header .enlace-home {
  font-size: 25px;
  font-weight: bold;
}

.header .barra-nav {
  width: 334.922px;
}

.header .barra-nav .enlace {
  color: black;
  font-size: 20px;
}

.header .barra-nav .enlace.principal {
  text-decoration: underline;
  font-weight: bold;
}

.btn {
  border: 0;
}

.boton-inicio {
  background: #7f9751;
  height: 65px;
  width: 260px;
  font-size: 22px;
}

.boton-inicio:hover {
  background: #4e5e32;
}

.boton-circular {
  height: 200px;
  width: 200px;
  border-radius: 125px;
  color: #3c3c3c;
  background: #ebe5e5;
  font-size: 26px;
  font-weight: bold;
}

.boton-circular:hover {
  background: #ebe5e5;
  opacity: 0.8;
  color: #3c3c3c;
}

.abajo {
  background: url('../img/SISMyC.png');
}

#accion {
  display: inline;
}

